body {
    display: flex;
    flex-direction: column;
}

#root {
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}

:root {
    --background: #282828;
    --primary: #0d5e9f;
    --secondary: #808080;
    --tertiary: rgb(31, 31, 31);
    --quaternary: #292b2f;
    --quinary: #393d42;
    --senary: #828386;
    --septenary: #cbd2d9;
    --octonary: #fff;
    --primary-text: #e0dfdf;
}


.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.header-wrapper {
    background-color: var(--primary);
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    color: var(--primary-text);
    display: flex;
    align-items: center;
}


.player-chooser {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-grow: 1;
}

.player-add-wrapper {
    display: flex;
    color: var(--primary-text);

}

.player-add-wrapper input[type="text"] {
    flex-grow: 1;
    outline: none;
    background-color: var(--tertiary);
    border: 1px solid var(--primary);
    color: var(--primary-text);
    padding: 0.3rem;
    margin: 0 0.5rem;
}

.player-add-wrapper button {
    color: var(--primary-text);
    border: 1px solid var(--primary);
    background-color: var(--tertiary);
    padding: 0.3rem 0.75rem;
    cursor: pointer;
    user-select: none;
}

.players-display-wrapper {
    margin: 0.75rem 0 0 0;
    border: 1px solid var(--primary);
    flex-grow: 1;
    overflow: auto;
}

.player-display-wrapper {
    color: var(--primary-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    user-select: none;
}

.player-display-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.player-name {
    padding: 0.5rem;
    flex-grow: 1;
    margin: 0 0.5rem;
}

.footer {
    width: 100%;
    margin: 1rem auto 2rem auto;
    display: flex;
}

.footer button {
    color: var(--primary-text);
    border: 1px solid var(--primary);
    background-color: var(--tertiary);
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    user-select: none;
    flex-grow: 1;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
    align-items: center;
    justify-content: center;

/*    Box shadow*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    width: 75%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: var(--primary-text);
    font-size: 1.5rem;
}

.modal-body {
    background-color: var(--tertiary);
    color: var(--primary-text);
    user-select: none;
}
.player-playing{
    padding: 0.5rem;
}


@media only screen and (max-width: 600px) {
    .modal-content{
        width: 90%;
    }
}

