#root {
    height: 100vh;
    width: 100vw;
}

:root {
    --background: #282828;
    --primary: #0d5e9f;
    --secondary: #808080;
    --tertiary: rgb(32, 34, 37);
    --quaternary: #292b2f;
    --quinary: #393d42;
    --senary: #828386;
    --septenary: #cbd2d9;
    --octonary: #fff;
    --primary-text: #e0dfdf;
}


.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.header-wrapper {
    background-color: var(--primary);
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    color: var(--primary-text);
    display: flex;
    align-items: center;
}
